
@{
    ViewData["Title"] = "GetEmployee";
}

@model WebStore.ViewModels.EmployeeView
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetEmployes</title>
</head>
<body>
    @Html.ActionLink("Список сотрудников", "GetEmployes", "Employees")
    <table class="table">
        <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество </th>
                <th>Возраст</th>
                <th>Дата рождения</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>@Model.SecondName</td>
                <td>@Model.FirstName</td>
                <td>@Model.Patronymic</td>
                <td>@Model.Age</td>
                <td>@Model.BirtDay</td>
            </tr>

        </tbody>
    </table>
    <a asp-action="EditEmployee" asp-controller="Employees" asp-route-emploeeId="@Model.Id">Редактировать</a>
</body>
</html>